body
{
    margin-left: 40px;
}

*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*disposition de l'en-tête*/
header img
{
    width: 150px;
    height: 70px;
    margin-left: 40px;
}

header h1
{
    margin-top: 30px;
    font-size: 1.8em;
}

header p
{
    font-size: 1.2em;
}

 header
 {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 #ancre
 {
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 header li
 {
     list-style-type: none; 
     margin-right: 60px;
     font-size: 1.3em;
 }

 header ul
 {
     display: flex;
 }

 nav a
 {
     color: black;
     text-decoration: none;
 }

 header a
 {
    padding: 25px 10px 10px 10px
 }

header a:hover
{
    color: #0065FC;
    border-top: 2px solid;
}

.recherche
{ 
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 20px;
}

.formulaire
{
    margin-top: 10px;
}

.bouton
{
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    position: relative;
    right: 10px;
}

#localisation
{
    padding: 18px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F2F2F2;
}

#loupe
{
    display: none;
}

.filtres
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.filtres p
{
    font-size: 1.5em;
    font-weight: bold; 
}

ul
{
    list-style-type: none;
    display: flex;
}

.filtres a
{
    border: 0.5px solid #F2F2F2;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    margin-left: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.filtres a:hover
{
    background-color: #DEEBFF;
}

#row
{
    display: flex;
    flex-direction: row;
}

li i
{
    padding: 12px;
    margin-right: 10px;
    border-radius: 40px;
    background-color: #DEEBFF;
    color: #0065FC;
    position: relative;
    right: 10px;
}

#info
{
    margin-top: 10px;
    font-size: 1.2em;
}

#info i
{
    padding:5px 10px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}
 /*fin de l'en-tête*/

 /*1ère section*/
 /*section*/

#hebergement
{ 
    margin-top: 10px;
    display: flex;   
}

section h1
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.8em;
    margin-left: 20px;
}

section p
{
    margin-left: 10px;
}

section a 
{
    text-decoration: none;
    color: black;
}

section a:hover
{
    text-decoration: none;
    color: black;
}
/*section*/

/*article*/
article
{

    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 80%;
    margin-right: 30px;
}

article img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 350px;
    height: 150px;
    object-fit: cover;
}

article div
{
    margin-left: 20px;
    margin-right: 10px;
}

article h2
{
    margin-left: 10px;
    margin-top: 10px;
}

article i
{
    margin-top: 10px;
    font-size: 15px;
}

#bleu
{
    color:#0065FC;
}

#grise
{
    color: #F2F2F2;
}

#image
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cannebiere
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
}

#port
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
}

#mouette
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
}

#mer
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#panier
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#amina
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#afficher
{
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: bold;
}
/*article*/

/*aside*/
aside
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 35%;
    margin-right: 50px;
}

aside a
{
    display: flex;
}

aside h1
{
    margin-left: 20px;
}

aside img
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 180px;
    height: 160px;
    object-fit: cover;
}

aside p
{
    font-size: 1.2em;
}

aside i
{
    font-size: 15px;
}

#economie
{
    font-size: 30px;
    margin-left: 200px;
}


#soleil
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#eau
{
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

#blanc
{ 
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

    /*aside*/

/*fin 1ère section*/


/*début 2ème section*/

#activite h2
{
    margin-top: 10px;
}

#imageactivite
{
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
}

#activite img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#activite div
{
    margin-left: 10px;
    margin-right: 10px;
}

#vieuxport
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 600px;
}

.vieuxport
{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

#calanque
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 600px;
}

.calanque
{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

#frioul
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 250px;
    margin-top: 75px;
}

.frioul
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#pomegue
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 270px;
}

.pomegue
{
   width: 100%;
   height: 220px;
   object-fit: cover;
}

#garde
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 250px;
}

.garde
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#longchamp
{
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    width: 430px;
    height: 270px;
    margin-top: 75px;
}

.longchamp
{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.column1
{
    display: flex;
    flex-direction: column;
}

.column2
{
    display: flex;
    flex-direction: column;
}

/*fin 2ème section*/

/*footer*/

footer
{
    margin-top: 40px;
    background-color: #F2F2F2;
    display: flex;
    min-height: 200px;
    margin-left: -50px;
}

footer h2 
{
    margin-top: 30px;
    margin-left: 30px;
}

footer ul
{
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.footer1
{
    margin-left: 20px;
}

.footer2
{
    margin-left: 500px;
}

.footer3
{
    margin-left: 500px;
}


footer a:hover
{
    font-weight: bold;
}

/*footer*/

/*responsive*/

/*mobile*/

/*header*/

@media all and (max-width: 767px)
{
    body 
    {
        margin-left: 0;
    }

    #logo 
    {
        width: 100px;
        height: 50px;
        align-items: center;
        margin-bottom: 20px;
    }

    #ancre
    {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    header
    {
        margin-left: 10px;
    }

    header p
    {
        margin-top: 10px;
    }

    form
    {
        margin-left: 10px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }

    .bouton
    {
        display: none;
    }

    #loupe
    {
        display: block;
        font-size: 20px;
        padding: 17px;
        color: white;
        background-color: #0065FC;
        border-radius: 20px;
        border: none;
        position: relative;
        right: 40px;
    }

    .filtres
    {
        margin-left: 10px;
        flex-direction: column;
    }

    .filtres ul
    {
        margin-top: 0;
        flex-direction: column;       
    }

    .filtres a 
    {
        border: 2px solid #F2F2F2;
        font-size: 20px;
    }

    #familial
    {
        margin-left: -40px;
    }
   
    .filtres i 
    {
        margin-right: 0;
        padding: 13px;
        margin-top: 10px;
    }

    #info
    {
        margin-bottom: 20px;
    }

/*header*/


/*section1*/
    #hebergement
    {
        display: flex;
        flex-direction: column-reverse;

    }

    article
    {
        height: 1700px;
        width: 400px;
        background-color: white;
    }
    
    article div  
    {
        margin-left: 10px;
        margin-top: 10px;
    }

    #cannebiere, #port, #amina, #mer, #panier, #mouette
    {
        border: 5px solid transparent;
        box-shadow: 0px 10px 10px #F2F2F2;
    }


    aside
    {
        width: 400px;
        height: auto;
        border-radius: 0;
    }

    aside h1
    {
        display: flex;
        flex-direction: row;
    }

    #blanc
    {
        margin-bottom: 20px;
    }

    #economie
    {
        margin-left: 100px;
    }
/*section1*/  

/*section2*/
#activite
{
    width: 400px;
    height: 1100px;
}

#imageactivite
{
    display: flex;
    flex-direction: column;
}

#activite div 
{
    width: 350px;
    height: 180px;
}

#activite img 
{
    width: 350px;
    height: 130px;
    object-fit: cover;
}

/*section2*/

/*footer*/
    footer 
    {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer1
    {
        margin-left: 50px;
    }

    .footer2
    {
        margin-left: 50px;
    }

    .footer3
    {
        margin-left: 50px;
    }

/*footer*/
}
/*mobile*/


/*tablettes*/
@media all and (min-width: 768px) and (max-width: 992px)
{
    body 
    {
        margin-left: 10px;
    }

/*header*/

    .filtres
    {
        margin-top: 30px;
    }

    .filtres a 
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
    }

    .filtres p 
    {
        margin-top: 30px;
    }

    .filtres i 
    {
        margin-left: 30px;
    }

/*header

/*section1*/
    #hebergement
    {
        display: flex;
        flex-direction: column;
    }

    article
    {
        height: auto;
        width: 100%;
    }

    article div 
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 20px;
    }

    article img 
    {
        width: 100%;
        height: 320px;
    }

    article p 
    {
        font-size: 1.3em;
    }

    aside 
    {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    aside p 
    {
        font-size: 1.5em;
    }

    aside img 
    {
        width: 300px;
        height: 200px;
    }
/*section1*/

/*section2*/
    #imageactivite
    {
        display: flex;
        flex-wrap: wrap;
    }

    #frioul img, #pomegue img, #longchamp img, #garde img 
    {
        width: 100%;
    }

    #vieuxport, #calanque
    {
        width: 50%;
    }

    #frioul, #pomegue, #longchamp, #garde
    {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

/*section2*/

/*footer*/
    footer 
    {
        display: flex;
        flex-direction: row;
    }

    .footer1
    {
        margin-left: 50px;
    }

    .footer2
    {
        margin-left: 90px;
    }

    .footer3
    {
        margin-left: 90px;
    }
/*footer*/
}
/*tablettes*/
