body {
    font-family: 'Raleway', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 40px;
    padding-right: 40px;
}

*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fa-star {
    color: #0065FC;
}

.fa-star.gray {
    color: #F2F2F2;
}

li {
    list-style-type: none;
}

/*disposition de l'en-tête*/
header img {
    width: 150px;
    height: 70px;
    margin-left: 40px;
}

header h1 {
    margin-top: 30px;
    font-size: 1.8em;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

#titre p {
    font-size: 1.2em;
}

#ancre {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ancre li {
    padding-right: 60px;
    font-size: 1.3em;
}

#en-tete ul {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: black;
    text-decoration: none;
}

#ancre a {
    padding: 28px 10px 10px 10px
}

#ancre a:hover {
    color: #0065FC;
    border-top: 2px solid;
}

/*formulaire recherche*/
.recherche {
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 20px;
}

.formulaire {
    margin-top: 10px;
}

.bouton {
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    position: relative;
    right: 10px;
}

#localisation {
    padding: 18px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F2F2F2;
}

#loupe {
    display: none;
}

/*formulaire recherche*/

/*filtres*/
.filtres {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.filtres p {
    font-size: 1.5em;
    font-weight: bold;
}

.filtres a {
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 55px;
    position: relative;
    height: 39px;
}

.filtres i {
    position: absolute;
    left: -2px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.filtres a:hover {
    background-color: #DEEBFF;
}

/*filtres*/

#info {
    margin-top: 10px;
    font-size: 1.2em;
}

#info i {
    padding: 5px 10px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}

/*fin de l'en-tête*/

/*1ère section*/

/*section*/
#hebergement {
    margin-top: 10px;
    display: flex;
}

.titre1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.7em;
    margin-left: 20px;
}

article p {
    margin-left: 10px;
}

article a {
    text-decoration: none;
    color: black;
}

article a:hover {
    text-decoration: none;
    color: black;
}

/*section*/

/*article*/
#article1 {

    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 80%;
    margin-right: 30px;
}

#article1 img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

#image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cannebiere,
#mer,
#panier,
#amina,
#mouette,
#port {
    width: 28%;
    border: 5px solid transparent;
    box-shadow: 0px 3px 10px gray;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
}

#article1 h3 {
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
}

#article1 i {
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    left: 10px;
}


#afficher {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
}

/*article*/

/*aside*/
aside {
    width: 45%;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 10px 20px 10px 20px;
}

#asideimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside a {
    display: flex;
}

aside h2 {
    padding-top: 20px;
    font-size: 1.7em;
    padding-left: 20px;
}

aside img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
    height: 150px;
    object-fit: cover;
}

aside p {
    font-size: 1.1em;
}

aside i {
    font-size: 14px;
}

#economie {
    font-size: 30px;
    padding-left: 50px;
}


.populaire {
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    margin-top: 20px;
}

/*aside*/

/*fin 1ère section*/


/*début 2ème section*/
#activite h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.7em;
    margin-left: 20px;
}

#activite h3 {
    padding-top: 10px;
    padding-left: 10px;
}

#imageactivite {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid transparent;
}

.grande {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.petite {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 220px;
}


#vieuxport,
#calanque {
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 22%;
}

#frioul,
#longchamp {
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

#pomegue,
#garde {
    border: 1px solid transparent;
    box-shadow: 0px 0px 8px #DEEBFF;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.colonne {
    width: 22%;
    display: flex;
    flex-direction: column;
}

/*fin 2ème section*/

/*footer*/

footer {
    margin-top: 40px;
    background-color: #F2F2F2;
    display: flex;
    min-height: 200px;
}

footer h2 {
    margin-top: 30px;
    margin-left: 30px;
}

footer ul {
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

footer li {
    padding: 10px;
}

.footer {
    flex: 1;
}


footer a:hover {
    font-weight: bold;
}

/*footer*/

/*responsive*/

/*mobile*/

/*header*/

@media all and (max-width: 767px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    #logo {
        align-self: center;
        width: 100px;
        height: 50px;
        margin-bottom: 20px;
    }

    #titre {
        padding-left: 10px;
        width: 90%;
    }

    /*ancre*/
    #ancre {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #ancre li {
        width: 50%;
        border-bottom: 2px solid silver;
        padding-bottom: 10px;
    }

    #ancre li:hover {
        border-bottom: 2px solid #0065FC;
    }

    #ancre a:hover {
        border-top: none;
    }

    /*ancre*/

    /*formulaire*/
    form {
        width: 100%;
        padding-left: 10px;
        display: flex;
    }

    .recherche {
        width: 95%;
        padding: 10px;
        font-size: 1.2em;
    }

    .bouton {
        display: none;
    }

    #loupe {
        display: block;
        font-size: 20px;
        padding: 17px;
        color: white;
        background-color: #0065FC;
        border-radius: 20px;
        border: none;
        position: relative;
        right: 30px;
    }

    /*formulaire*/

    /*filtres*/
    .filtres {
        width: 90%;
        flex-direction: column;
    }

    .filtres a {
        border: 2px solid #F2F2F2;
        font-size: 18px;
    }

    .filtres p {
        padding-left: 10px;
    }

    #info {
        width: 90%;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    /*filtres*/
    /*header*/


    /*section1*/
    #hebergement {
        flex-direction: column-reverse;
    }

    #article1 {
        background-color: white;
        width: 100%;
        align-items: center;
    }

    #article1 div {
        width: 100%;
    }

    #article1 img {
        width: 100%;
    }

    #cannebiere,
    #port,
    #amina,
    #mer,
    #panier,
    #mouette {
        border: 5px solid transparent;
        box-shadow: 0px 10px 10px #F2F2F2;
        margin-left: 10px;
    }

    #afficher {
        padding-left: 10px;
    }


    aside {
        width: 100%;
        border-radius: 0;
    }

    aside div {
        width: 90%;
        margin-left: 10px;
        height: auto;
    }

    aside img {
        width: 50%;
    }

    #economie {
        padding-left: 10px;
    }

    /*section1*/

    /*section2*/
    #imageactivite {
        display: flex;
        flex-direction: column;
    }

    .petite,
    .grande {
        width: 100%;
        height: 160px;
    }

    #activite h2 {
        font-size: 1.3em;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #pomegue,
    #garde,
    #frioul,
    #longchamp {
        width: 90%;
        margin-top: 20px;
    }

    .colonne {
        width: 100%;
        align-items: center;
    }

    #calanque,
    #vieuxport {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        align-self: center;
    }


    /*section2*/

    /*footer*/
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*footer*/
}

/*mobile*/


/*tablettes*/
@media all and (min-width: 768px) and (max-width: 992px) {

    /*header*/
    form {
        padding-left: 10px;
    }

    #titre {
        padding-left: 10px;
    }

    .filtres {
        margin-top: 20px;
        flex-direction: column;
    }

    .filtres a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10px;
        border: none;
    }

    .filtres p {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .filtres i {
        margin-left: 10px;
    }

    .filtres a:hover {
        background-color: white;
        text-decoration: underline;
        color: #0065FC;
    }

    #info {
        padding-left: 10px;
    }


    /*header

/*section1*/
    #hebergement {
        display: flex;
        flex-direction: column;
    }

    #article1 {
        height: auto;
        width: 100%;
    }

    #article1 div {
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #article1 img {
        width: 100%;
        height: 320px;
    }

    #article1 p {
        font-size: 1.3em;
    }

    aside {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    aside p {
        font-size: 1.5em;
    }

    aside img {
        width: 40%;
        height: 200px;
    }

    /*section1*/

    /*section2*/
    #imageactivite {
        width: 100%;
        flex-wrap: wrap;
    }

    /*section2*/
}

/*tablettes*/

